* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #aaa;
    text-align: center;
    text-decoration: none;
    color: #555;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }
  
  main {
    padding: 1rem;
  }
  
  h1 {
    font-size: 1.5rem;
    text-align: center;
    background-color: #000;
    color: #eee;
  }
  
  #wrapper {
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    height: 500px;
    background-color: #c9c4c4;
    font-size: 20px;
  }
  
  p {
    text-align: center;
    font-size: 16px;
  }
  
  .guesses {
    background-color: #6c6d6d;
    color: #eee;
    padding: 7px;
  }
  
  .lastResult {
    padding: 7px;
  }
  
  #guess {
    font-size: 40px;
    margin-top: 10px;
  }
  
  #guessField {
    color: #000;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    border-style: none;
    border: solid #6c6d6d 4px;
    margin-top: 20px;
  }
  
  #subt {
    width: 200px;
    background-color: #000;
    color: #eee;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 12px;
    border-style: none;
  }
  
  #newGame {
    width: 200px;
    background-color: burlywood;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
  }